@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Poppins:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background-color: #5796b3;
    font-family: 'Poppins', sans-serif;
}